* {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  body {
    font-family: "IranSans";
  }
  
  .font-bold {
    font-family: "IranSansBold";
  }
  
  .container {
    display: flex;
  }