* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Source Sans Pro, sans-serif;
  }
  
  .container {
    display: flex;
  }
  
  aside {
    transition: background 0.15s ease-in-out, transform 0.15s ease-in-out,
      border-color 0.15s linear;
    padding: 30px;
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    will-change: transform;
    /* transform: translateX(-300px); */
    border-left: 1px solid transparent;
    /* overflow: hidden; */
  }
  
  main {
    padding: 100px 30px 30px;
    transform: translateX(-300px);
    width: calc(100% - 300px);
    overflow: auto;
  }
  